<a href="https://colab.research.google.com/github/S-Panta/University_list_Scraping/blob/main/University.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [100]:
import csv
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [101]:
def extract(page):
  headers={"User-Agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/103.0.0.0 Safari/537.36"}
  url=f'https://www.cuahsi.org/students/graduate-programs-in-water-science/masters/p{page}'
  response=requests.get(url,headers)
  soup=BeautifulSoup(response.text,'html.parser')
  return soup

In [102]:
def value(soup):
  cards=soup.find_all('div',class_='col-md-12 jobs pt-5')
  for items in cards:
    University_name=items.find('a').text.strip()
    department=items.find('p').text
    values={
        'University':University_name,
        'Summary':department
    }
    University_list.append(values)
  return

In [103]:
University_list=[]

In [104]:
for i in range(1,10,1):
  print(f'Reading pages,{i}')
  c=extract(i)
  value(c)

Reading pages,1
Reading pages,2
Reading pages,3
Reading pages,4
Reading pages,5
Reading pages,6
Reading pages,7
Reading pages,8
Reading pages,9

In [109]:
df111=pd.DataFrame(University_list)
df111

,University,Summary
0,Arizona State University,School of Sustainable Engineering and The Buil...
1,Boise State University,The Hydrologic Science MS program attracts stu...
2,City College of New York,"Department of Civil Engineering M.S, Ph.D"
3,Clarkson University,Water Resources Engineering group
4,Clemson University,Hydrogeology (M.S.)
...,...,...
76,University of Wisconsin - Madison,Water Resources Management (WRM) program in t...
77,University of Wisconsin-Milwaukee,Freshwater Sciences Academics
78,University of Wyoming,Water Resources/Environmental Science and Engi...
79,University of Zurich,Master in Geography and Master in Earth System...
80,Utah State University,Interdiscilplinary Water Science and Education

In [110]:
df111.to_excel('Excel_list.xlsx')